.comment-section {
    position: relative;
}
.comment-section span {
    position: absolute;
    right: -6px;
    background: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
}
.comment-section i {
    font-size: 30px;
}
